version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
      day: monday
    labels:
      - dependencies
    groups:
      go-dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 10

  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*
    schedule:
      interval: monthly
    labels:
      - ci
    groups:
      actions:
        patterns:
          - "*"
    open-pull-requests-limit: 10
